@import './properties';
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    .container{
        width: 60%;
        background-color:$font-color-white;
    }
}