@import './properties';
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    min-height: 100vh;
    .container{
        margin: 2rem 0;
        width: 60%;
        background-color:$font-color-white;
        @media screen and (max-width:600px){
            width: 100%;
        }
    }
}